.tabPane {
    display: flex;
    justify-content: center;
    div {
        padding: 20px;
        margin: 10px;
        flex:1;
        cursor: pointer;
        border-bottom: 1px solid black;
        @media (prefers-color-scheme: dark) {
            border-color: white;
          }
        &.active {
            font-weight: 700;
            color: black;
            @media (prefers-color-scheme: dark) {
                color: white;
              }
        }
    }
}