.tabPane {
    display: flex;
    justify-content: center;
    .tab {
        padding: 20px;
        margin: 10px;
        flex:1;
        cursor: pointer;
        border-bottom: 1px solid black;
        @media (prefers-color-scheme: dark) {
            border-color: white;
          }
        &.active {
            font-weight: 700;
            color: black;
            @media (prefers-color-scheme: dark) {
                color: white;
              }
        }

        .cta {
            position: relative;
            &::after {
                content: ' ';
                display: block;
                position: absolute;
                top: 0;
                right: -10px;
                border-radius: 100%;
                width: 6px;
                height: 6px;
                background-color: red;
            }
        }
    }
}