.plantsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  @media screen and (min-width: 468px){
    flex-direction: row;
}
}
.plant {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.plant:hover {
  filter: drop-shadow(0 0 2em #a6cae5);
}

